## Google Maps Code

In [1]:
import requests
import json
import gmaps
import pandas as pd
from gkey import gkey

gmaps.configure(api_key=gkey)

In [2]:
def get_boundingbox_country(country, output_as='boundingbox'):
    """
    get the bounding box of a country in EPSG4326 given a country name

    Parameters
    ----------
    country : str
        name of the country in english and lowercase
    output_as : 'str
        chose from 'boundingbox' or 'center'. 
         - 'boundingbox' for [latmin, latmax, lonmin, lonmax]
         - 'center' for [latcenter, loncenter]

    Returns
    -------
    output : list
        list with coordinates as str
    """
    # create url
    url = '{0}{1}{2}'.format('http://nominatim.openstreetmap.org/search?country=',
                             country,
                             '&format=json&polygon=0')
    
    response_object = requests.get(url)
    
    # error handling
    if len(response_object.json())==0:
        
        return [None, None]
    else: 
        response = response_object.json()[0]

    # parse response to list
    if output_as == 'boundingbox':
        lst = response[output_as]
        output = [float(i) for i in lst]
    if output_as == 'center':
        lst = [response.get(key) for key in ['lat','lon']]
        output = [float(i) for i in lst]
    return output

In [3]:
country_df = pd.read_csv('./Datasets/Box_Office_by_Country.csv')
country_box_office_df = pd.DataFrame(country_df)
country_box_office_df

,Country,Wonder Woman,Amazing Spider Man,Amazing Spider Man 2,Ant Man,Ant Man and The Wasp,Aquaman,Black Panther,Captain America,Captain America 2,...,Logan,Man of Steel,Punisher,Spider Man: Homecoming,The Wolverine,Thor,Thor 2,Thor 3,Venom,Wolverine: Origins
0,Argentina,3390252,3357295.0,NaN,4126139,2250863,3.441474e+06,5720345,NaN,NaN,...,5148269.0,NaN,NaN,7033029,NaN,NaN,5475083.0,6169643,2830282,NaN
1,Australia,24683719,8654635.0,NaN,11681785,14348561,2.950000e+07,31932114,NaN,NaN,...,17295477.0,21880008.0,NaN,20264403,NaN,NaN,21446060.0,26997468,15667184,NaN
2,Brazil,33500000,13121674.0,24869494.0,12431089,13010094,3.620000e+07,36942424,NaN,28317546.0,...,29218096.0,NaN,NaN,31896084,NaN,12092872.0,27686492.0,30485848,19031136,NaN
3,Bulgaria,310618,NaN,385465.0,183235,224148,9.897640e+05,636460,NaN,NaN,...,295183.0,NaN,NaN,328580,379034.0,NaN,879675.0,754537,859396,NaN
4,China,155498909,NaN,NaN,105718824,120770000,2.918000e+08,113698530,NaN,NaN,...,105962992.0,NaN,NaN,1125361644,NaN,NaN,NaN,119229970,270034912,NaN
5,Czech Republic,605248,269795.0,NaN,576130,1211659,2.675829e+06,2100955,NaN,NaN,...,1102637.0,NaN,NaN,1284993,NaN,NaN,1378030.0,3044746,2700089,NaN
6,France,16300000,8589382.0,22738176.0,12674429,14715801,2.960000e+07,33114492,NaN,NaN,...,15456133.0,NaN,NaN,18790172,NaN,NaN,22289092.0,21262792,18420064,NaN
7,Germany,8700000,2732820.0,15932503.0,5917308,9424892,2.470000e+07,23392484,NaN,NaN,...,9880658.0,NaN,NaN,11671525,NaN,NaN,20356156.0,19036144,16029204,NaN
8,India,2568493,5747192.0,13603981.0,1649781,6400000,7.800000e+06,10458639,NaN,NaN,...,6565038.0,NaN,NaN,11403714,NaN,NaN,3598734.0,11818410,5927228,NaN
9,Indonesia,8600000,6708221.0,NaN,8386902,10000000,1.750000e+07,12500000,NaN,NaN,...,2900000.0,NaN,NaN,12335003,NaN,NaN,7402867.0,11746294,10704633,NaN
10,Italy,3881665,6993317.0,NaN,5282649,5815017,1.221376e+07,8953417,NaN,NaN,...,5589951.0,NaN,NaN,10157185,NaN,NaN,11204850.0,10369507,9849263,NaN
11,Japan,11277405,8180989.0,30253480.0,9670913,11595269,1.296122e+07,14655352,NaN,NaN,...,6209861.0,NaN,NaN,25390872,NaN,NaN,NaN,10116575,19121916,NaN
12,Lithuania,124272,16554.0,NaN,59927,92657,3.180820e+05,232561,NaN,NaN,...,131841.0,NaN,NaN,149194,NaN,NaN,125489.0,217175,344002,NaN
13,Mexico,22500000,17556604.0,28460484.0,14676934,15000000,3.040000e+07,28322788,NaN,NaN,...,14353922.0,NaN,NaN,27070660,NaN,NaN,23857540.0,21249432,24390084,NaN
14,Netherlands,3793664,24274.0,3546094.0,1850753,2655111,1.057738e+07,9975474,NaN,NaN,...,3277740.0,NaN,NaN,4042454,NaN,NaN,3157881.0,4590401,5638650,NaN
15,New Zealand,3631130,1221853.0,NaN,1836158,1883141,NaN,5026086,NaN,NaN,...,2252149.0,NaN,NaN,2692015,NaN,NaN,2825136.0,5148859,2244363,NaN
16,Philippines,10600000,6233756.0,10211056.0,5275663,5700000,9.200000e+06,9300000,NaN,NaN,...,NaN,NaN,NaN,7523563,NaN,NaN,7954070.0,7800000,4458893,NaN
17,Poland,1366850,387461.0,NaN,1300023,2431877,3.944343e+06,3601530,NaN,NaN,...,2277603.0,NaN,NaN,2692532,NaN,NaN,3147605.0,4046509,2891937,NaN
18,Portugal,1025100,661794.0,1168538.0,779747,905079,2.254291e+06,1967802,NaN,NaN,...,1129530.0,NaN,NaN,1510539,NaN,NaN,1396205.0,1341455,1960914,NaN
19,Russia,8500000,4977648.0,20871832.0,11654305,13024266,1.960000e+07,19265532,NaN,NaN,...,16863836.0,NaN,NaN,16341826,NaN,NaN,35732140.0,23648616,32319858,NaN
20,Slovakia,330358,41068.0,NaN,121879,347546,9.937970e+05,689932,NaN,NaN,...,368810.0,NaN,NaN,340138,NaN,NaN,493999.0,848061,869652,NaN
21,South Korea,15500000,21581340.0,NaN,21126699,42026001,3.910000e+07,42859368,NaN,NaN,...,16344265.0,NaN,NaN,51515808,NaN,NaN,21114584.0,34514898,30150764,NaN
22,Spain,8603850,7717709.0,8892763.0,4146996,6869063,1.580000e+07,9716813,NaN,7763694.0,...,7646855.0,NaN,NaN,11950872,NaN,NaN,8846122.0,10622231,10852976,NaN
23,Taiwan,11000000,4682113.0,NaN,10930219,9715007,1.530000e+07,12778780,NaN,NaN,...,7042850.0,NaN,NaN,9657745,NaN,NaN,10389487.0,10411887,9007044,NaN
24,Turkey,1747244,566531.0,3630348.0,1757856,1095147,3.266339e+06,2593586,NaN,NaN,...,3359220.0,NaN,NaN,2556451,NaN,NaN,3717816.0,2981701,2554355,NaN
25,United Kingdom,30018598,16411008.0,40447180.0,25208866,22941204,2.860000e+07,70631008,NaN,NaN,...,29643627.0,NaN,NaN,39582696,NaN,NaN,31788260.0,40960480,26338052,NaN
26,Rest of World,86446111,348290110.0,281131009.0,52639028,64343517,1.630966e+08,138230716,193915271.0,418573691.0,...,73777090.0,355073992.0,2106557.0,89814074,283520966.0,256203122.0,157246121.0,92736017,89935814,194942603.0
27,United States,412563408,262030663.0,202853933.0,180202163,216648740,3.350618e+08,700059566,176654505.0,259746958.0,...,226277068.0,291045518.0,8050977.0,334201140,132556852.0,181030624.0,206362140.0,315058289,213511408,179883157.0
28,Total Box Office,821133378,757890267.0,708996336.0,518858449,623144660,1.146895e+09,1348258224,370569776.0,714401889.0,...,615461394.0,667999518.0,10157534.0,880166350,416456852.0,449326618.0,644602516.0,846980024,853628605,374825760.0

In [4]:
country_name = country_df['Country']

country_lat_lng_array = []

for country in country_name:
    lat, lng = get_boundingbox_country(country=country, output_as='center')
    country_lat_lng_array.append([country, lat, lng])

country_lat_lng_df = pd.DataFrame(country_lat_lng_array)

In [5]:
country_lat_lng_df.columns = ['Country', 'Lat', 'Lng']
country_box_office_lat_lng = pd.merge(country_lat_lng_df, country_box_office_df, on ="Country")

country_box_office_lat_lng.loc[country_box_office_lat_lng['Country'] == 'Philippines', ['Lat']] = 12.8797
country_box_office_lat_lng.loc[country_box_office_lat_lng['Country'] == 'Philippines', ['Lng']] = 121.7740

country_box_office_lat_lng.drop([26,28], inplace=True)
country_box_office_lat_lng

,Country,Lat,Lng,Wonder Woman,Amazing Spider Man,Amazing Spider Man 2,Ant Man,Ant Man and The Wasp,Aquaman,Black Panther,...,Logan,Man of Steel,Punisher,Spider Man: Homecoming,The Wolverine,Thor,Thor 2,Thor 3,Venom,Wolverine: Origins
0,Argentina,-34.996496,-64.967282,3390252,3357295.0,NaN,4126139,2250863,3441474.0,5720345,...,5148269.0,NaN,NaN,7033029,NaN,NaN,5475083.0,6169643,2830282,NaN
1,Australia,-24.776109,134.755000,24683719,8654635.0,NaN,11681785,14348561,29500000.0,31932114,...,17295477.0,21880008.0,NaN,20264403,NaN,NaN,21446060.0,26997468,15667184,NaN
2,Brazil,-10.333333,-53.200000,33500000,13121674.0,24869494.0,12431089,13010094,36200000.0,36942424,...,29218096.0,NaN,NaN,31896084,NaN,12092872.0,27686492.0,30485848,19031136,NaN
3,Bulgaria,42.607397,25.485662,310618,NaN,385465.0,183235,224148,989764.0,636460,...,295183.0,NaN,NaN,328580,379034.0,NaN,879675.0,754537,859396,NaN
4,China,35.000074,104.999927,155498909,NaN,NaN,105718824,120770000,291800000.0,113698530,...,105962992.0,NaN,NaN,1125361644,NaN,NaN,NaN,119229970,270034912,NaN
5,Czech Republic,49.816700,15.474954,605248,269795.0,NaN,576130,1211659,2675829.0,2100955,...,1102637.0,NaN,NaN,1284993,NaN,NaN,1378030.0,3044746,2700089,NaN
6,France,46.603354,1.888334,16300000,8589382.0,22738176.0,12674429,14715801,29600000.0,33114492,...,15456133.0,NaN,NaN,18790172,NaN,NaN,22289092.0,21262792,18420064,NaN
7,Germany,51.083420,10.423447,8700000,2732820.0,15932503.0,5917308,9424892,24700000.0,23392484,...,9880658.0,NaN,NaN,11671525,NaN,NaN,20356156.0,19036144,16029204,NaN
8,India,22.351115,78.667743,2568493,5747192.0,13603981.0,1649781,6400000,7800000.0,10458639,...,6565038.0,NaN,NaN,11403714,NaN,NaN,3598734.0,11818410,5927228,NaN
9,Indonesia,-2.495793,120.200072,8600000,6708221.0,NaN,8386902,10000000,17500000.0,12500000,...,2900000.0,NaN,NaN,12335003,NaN,NaN,7402867.0,11746294,10704633,NaN
10,Italy,42.638426,12.674297,3881665,6993317.0,NaN,5282649,5815017,12213757.0,8953417,...,5589951.0,NaN,NaN,10157185,NaN,NaN,11204850.0,10369507,9849263,NaN
11,Japan,36.574844,139.239418,11277405,8180989.0,30253480.0,9670913,11595269,12961220.0,14655352,...,6209861.0,NaN,NaN,25390872,NaN,NaN,NaN,10116575,19121916,NaN
12,Lithuania,55.350000,23.750000,124272,16554.0,NaN,59927,92657,318082.0,232561,...,131841.0,NaN,NaN,149194,NaN,NaN,125489.0,217175,344002,NaN
13,Mexico,22.500048,-100.000038,22500000,17556604.0,28460484.0,14676934,15000000,30400000.0,28322788,...,14353922.0,NaN,NaN,27070660,NaN,NaN,23857540.0,21249432,24390084,NaN
14,Netherlands,52.500170,5.748082,3793664,24274.0,3546094.0,1850753,2655111,10577384.0,9975474,...,3277740.0,NaN,NaN,4042454,NaN,NaN,3157881.0,4590401,5638650,NaN
15,New Zealand,-41.500083,172.834408,3631130,1221853.0,NaN,1836158,1883141,NaN,5026086,...,2252149.0,NaN,NaN,2692015,NaN,NaN,2825136.0,5148859,2244363,NaN
16,Philippines,12.879700,121.774000,10600000,6233756.0,10211056.0,5275663,5700000,9200000.0,9300000,...,NaN,NaN,NaN,7523563,NaN,NaN,7954070.0,7800000,4458893,NaN
17,Poland,52.097718,19.025816,1366850,387461.0,NaN,1300023,2431877,3944343.0,3601530,...,2277603.0,NaN,NaN,2692532,NaN,NaN,3147605.0,4046509,2891937,NaN
18,Portugal,40.033265,-7.889626,1025100,661794.0,1168538.0,779747,905079,2254291.0,1967802,...,1129530.0,NaN,NaN,1510539,NaN,NaN,1396205.0,1341455,1960914,NaN
19,Russia,64.686314,97.745306,8500000,4977648.0,20871832.0,11654305,13024266,19600000.0,19265532,...,16863836.0,NaN,NaN,16341826,NaN,NaN,35732140.0,23648616,32319858,NaN
20,Slovakia,48.741152,19.452865,330358,41068.0,NaN,121879,347546,993797.0,689932,...,368810.0,NaN,NaN,340138,NaN,NaN,493999.0,848061,869652,NaN
21,South Korea,36.558191,127.940856,15500000,21581340.0,NaN,21126699,42026001,39100000.0,42859368,...,16344265.0,NaN,NaN,51515808,NaN,NaN,21114584.0,34514898,30150764,NaN
22,Spain,39.326234,-4.838065,8603850,7717709.0,8892763.0,4146996,6869063,15800000.0,9716813,...,7646855.0,NaN,NaN,11950872,NaN,NaN,8846122.0,10622231,10852976,NaN
23,Taiwan,23.973937,120.982018,11000000,4682113.0,NaN,10930219,9715007,15300000.0,12778780,...,7042850.0,NaN,NaN,9657745,NaN,NaN,10389487.0,10411887,9007044,NaN
24,Turkey,38.959759,34.924965,1747244,566531.0,3630348.0,1757856,1095147,3266339.0,2593586,...,3359220.0,NaN,NaN,2556451,NaN,NaN,3717816.0,2981701,2554355,NaN
25,United Kingdom,54.702354,-3.276575,30018598,16411008.0,40447180.0,25208866,22941204,28600000.0,70631008,...,29643627.0,NaN,NaN,39582696,NaN,NaN,31788260.0,40960480,26338052,NaN
27,United States,39.783730,-100.445882,412563408,262030663.0,202853933.0,180202163,216648740,335061807.0,700059566,...,226277068.0,291045518.0,8050977.0,334201140,132556852.0,181030624.0,206362140.0,315058289,213511408,179883157.0

In [6]:
ant_man_and_wasp_df = pd.DataFrame(country_box_office_lat_lng[['Country', 'Lat', 'Lng', 'Ant Man and The Wasp']])

black_panther_df = pd.DataFrame(country_box_office_lat_lng[['Country', 'Lat', 'Lng', 'Black Panther']])

dark_knight_rises_df = pd.DataFrame(country_box_office_lat_lng[['Country', 'Lat', 'Lng', 'Dark Knight Rises']])

iron_man_3_df = pd.DataFrame(country_box_office_lat_lng[['Country', 'Lat', 'Lng', 'Iron Man 3']])

spiderman_homecoming_df = pd.DataFrame(country_box_office_lat_lng[['Country', 'Lat', 'Lng', 'Spider Man: Homecoming']])

thor_3_df = pd.DataFrame(country_box_office_lat_lng[['Country', 'Lat', 'Lng', 'Thor 3']])

venom_df = pd.DataFrame(country_box_office_lat_lng[['Country', 'Lat', 'Lng', 'Venom']])

wonder_woman_df = pd.DataFrame(country_box_office_lat_lng[['Country', 'Lat', 'Lng', 'Wonder Woman']])

In [7]:
ant_man_and_wasp_locations = ant_man_and_wasp_df[['Lat', 'Lng']]
ant_man_and_wasp_sales = ant_man_and_wasp_df['Ant Man and The Wasp'].astype(float)

ant_man_and_wasp_fig = gmaps.figure()
ant_man_and_wasp_heat_layer = gmaps.heatmap_layer(ant_man_and_wasp_locations, weights=ant_man_and_wasp_sales, 
                                 dissipating=False, max_intensity=ant_man_and_wasp_sales.max()/2)

ant_man_and_wasp_fig.add_layer(ant_man_and_wasp_heat_layer)

ant_man_and_wasp_fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
spiderman_homecoming_locations = spiderman_homecoming_df[['Lat', 'Lng']]
spiderman_homecoming_sales = spiderman_homecoming_df['Spider Man: Homecoming'].astype(float)

spiderman_homecoming_fig = gmaps.figure()
spiderman_homecoming_heat_layer = gmaps.heatmap_layer(spiderman_homecoming_locations, weights=spiderman_homecoming_sales, 
                                 dissipating=False, max_intensity=spiderman_homecoming_sales.max()/2)

spiderman_homecoming_fig.add_layer(spiderman_homecoming_heat_layer)

spiderman_homecoming_fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
black_panther_locations = black_panther_df[['Lat', 'Lng']]
black_panther_sales = black_panther_df['Black Panther'].astype(float)

black_panther_fig = gmaps.figure()
black_panther_heat_layer = gmaps.heatmap_layer(black_panther_locations, weights=black_panther_sales, 
                                 dissipating=False, max_intensity=black_panther_sales.max()/2)

black_panther_fig.add_layer(black_panther_heat_layer)

black_panther_fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
dark_knight_rises_locations = dark_knight_rises_df[['Lat', 'Lng']]
dark_knight_rises_sales = dark_knight_rises_df['Dark Knight Rises'].astype(float)

dark_knight_rises_fig = gmaps.figure()
dark_knight_rises_heat_layer = gmaps.heatmap_layer(dark_knight_rises_locations, weights=dark_knight_rises_sales, 
                                 dissipating=False, max_intensity=dark_knight_rises_sales.max()/2)

dark_knight_rises_fig.add_layer(dark_knight_rises_heat_layer)

dark_knight_rises_fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
iron_man_3_locations = iron_man_3_df[['Lat', 'Lng']]
iron_man_3_sales = iron_man_3_df['Iron Man 3'].astype(float)

iron_man_3_fig = gmaps.figure()
iron_man_3_heat_layer = gmaps.heatmap_layer(iron_man_3_locations, weights=iron_man_3_sales, 
                                 dissipating=False, max_intensity=iron_man_3_sales.max()/2)

iron_man_3_fig.add_layer(iron_man_3_heat_layer)

iron_man_3_fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
thor_3_locations = thor_3_df[['Lat', 'Lng']]
thor_3_sales = thor_3_df['Thor 3'].astype(float)

thor_3_fig = gmaps.figure()
thor_3_heat_layer = gmaps.heatmap_layer(thor_3_locations, weights=thor_3_sales, 
                                 dissipating=False, max_intensity=iron_man_3_sales.max()/2)

thor_3_fig.add_layer(thor_3_heat_layer)

thor_3_fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
venom_locations = venom_df[['Lat', 'Lng']]
venom_sales = venom_df['Venom'].astype(float)

venom_fig = gmaps.figure()
venom_heat_layer = gmaps.heatmap_layer(venom_locations, weights=venom_sales, 
                                 dissipating=False, max_intensity=venom_sales.max()/2)

venom_fig.add_layer(venom_heat_layer)

venom_fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
wonder_woman_locations = wonder_woman_df[['Lat', 'Lng']]
wonder_woman_sales = wonder_woman_df['Wonder Woman'].astype(float)

wonder_woman_fig = gmaps.figure()
wonder_woman_heat_layer = gmaps.heatmap_layer(wonder_woman_locations, weights=wonder_woman_sales, 
                                 dissipating=False, max_intensity=wonder_woman_sales.max()/2)

wonder_woman_fig.add_layer(wonder_woman_heat_layer)

wonder_woman_fig

Figure(layout=FigureLayout(height='420px'))